<div class="container">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{data.name}}</mat-card-title>
          <mat-card-subtitle>{{data.description}}</mat-card-subtitle>
          <img mat-card-sm-image src="{{data.logoUrl}}" >
        </mat-card-title-group>
    </mat-card>

    <mat-card class="example-card" *ngFor="let item of data.categoryList">
      <mat-card-title-group>
        <mat-card-title>{{item.categoryName}}</mat-card-title>
      </mat-card-title-group>
        <mat-card-content>
          <br>
          <mat-card class="example-card" *ngFor="let item2 of item.productList">
            <mat-card-title-group>
              <mat-card-title class="mat-card-title" >{{item2.name}}</mat-card-title>
              <mat-card-subtitle>${{item2.price}}</mat-card-subtitle>
              <mat-icon style="color: rgb(255, 0, 0)">delete_forever</mat-icon>
              <img mat-card-sm-image src="{{item2.imageUrl}}" >
            </mat-card-title-group>
              <mat-card-content>
                {{item2.description}}
              </mat-card-content>
          </mat-card>
        </mat-card-content>
    </mat-card>
    <button mat-raised-button (click)="redirect()">Volver</button>
</div>

