<mat-toolbar>
    <span>Registro</span>
 </mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
                    <mat-label>Nombre</mat-label>
                    <input  matInput  placeholder="Nombre" [(ngModel)]="request.firstName" name="fname"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Apellidos</mat-label>
                    <input  matInput  placeholder="Apellidos" [(ngModel)]="request.lastName" name="lname"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Celular</mat-label>
                    <input  matInput  placeholder="Celular" [(ngModel)]="request.phoneNumber" name="phoneNumber"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Correo</mat-label>
                    <input  matInput  placeholder="Correo" [(ngModel)]="request.username" name="username">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input  matInput  placeholder="Contraseña" [(ngModel)]="request.password" name="password">
                </mat-form-field>
                <section class="example-section">
                    <label class="example-margin">Genero: </label>
                    <mat-radio-group [(ngModel)]="request.sex" name="gender">
                        <mat-radio-button class="example-margin" value="MALE">Hombre</mat-radio-button>
                        <mat-radio-button class="example-margin" value="FEMALE">Mujer</mat-radio-button>
                        <mat-radio-button class="example-margin" value="OTHER">Otro</mat-radio-button>
                    </mat-radio-group>
                </section>
            
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Registrarse</button>
    </mat-card-actions>
 </mat-card>